:root {
    --violeta-titulo: rgb(70, 19, 153);
    --lila-fondos: rgb(226, 206, 245);
    --gris-eliminar:  rgb(213, 210, 214);
    --violeta-oscuro: rgb(130, 132, 231);
    --rosa-carrito:  rgb(226, 170, 243);
}
/*productos*/
#listadoProductos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid;
    padding: 10px;
    margin: 20px 100px;
}

/*div del label input button*/
#busquedaProducto {
    background-color: var(--lila-fondos);
    display: flex;
    justify-content:left;
    flex-wrap: wrap;
    margin-right: 73%;
    padding: 10px;
}

#botonOrden {
    margin-left: 25px ; /*ajusta a posicion en div*/
    background: none;
    text-decoration:underline var(--violeta-titulo);
    border: none;
}

label, h2{
    margin-right: 10px;
    color: var(--violeta-titulo);
    font-weight: bolder;
}

/*parte del carrito */
#finalDeCompra {
    display: flex;
    justify-content:space-evenly;
}

/* botones */
button {
    padding: 5px;
}
/*agegar producto al carrito*/
#botonAgregar {
    background-color: var(--lila-fondos);
    border-color: var(--violeta-titulo);
}
/*vaciar todo el carrito*/
#botonVaciar{
    background-color:var(--gris-eliminar);
}

/*finalizar compra*/
#botonFinalizar{
    background-color: var(--violeta-oscuro);
}

/*eliminar un producto*/
#botonEliminar {
    margin-left: 10px;
    padding-inline: 10px;
    background-color: var(--gris-eliminar);
}

/* carrito desde js*/
#infoProdCarrito {
    background-color:var(--rosa-carrito);
    display: flex;
    align-items: center;
    justify-content:left;
    flex-wrap: wrap; /*acomoda segun visivilidad/tamaño de pantalla*/
    margin: 30px 30px;
    margin-right: 70%;
    padding: 5px; 
}


/* los p de datos del producto en el carrito*/
p {
    padding-inline: 15px;
}