html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 0;
}

img {
    width: 100%;
}

.container {
    max-width: 120rem; /*1200px 200rem*/
    margin: 0 auto;
    padding: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-logo-text {
    display: flex;
    column-gap: 1.5rem;
}

.logo {
    width: 5rem;
    height: 5rem;
    color: white;
    background: linear-gradient(135deg,#4f46e5,#06b6d4);
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center; /*vertical*/
    font-weight: bold;
    font-size: 1.8rem;
    border-radius: 8px;
}

.list-text {
    display: flex;
    column-gap: 2rem; /*diferencia*/
    padding-left: 1.5rem;
    margin: 0;
    color: #6b7280;
}

nav ul {
    display: flex;
    column-gap: 1.5rem;
}

nav ul li {
    list-style: none;
}

nav a {
    font-weight: 700;
    font-size: 1.4rem;
}

nav a:hover {
    color: #6b7280;
}

.hero {
    display: flex;
    flex-wrap: wrap; /*depende dispositivo se acomoda abajo*/
    gap: 1rem;
}

.hero > div {
    flex: 1 1 calc(55% - 1rem); /*cuando agrandar segun elemento siguiente, cuando achica segun desbordamiento*/
}

.hero > img {
    flex: 0 0 calc(45%);
    width: 100%;
    border-radius: 10px;
}

.btn {
    /*al ser un elemento en linea no respeta altura ancho*/
    display: inline-block; /*que se comporte como en linea o en bloque*/    
    padding: 10px 16px;
    background-color: #0ea5a4;
    color: white;
    font-weight: 700;
    border-radius: 8px;
}

.section-cards {
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card {
    background-color: bisque;
    padding: 1.4rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(15, 23, 42, 0.2);
}