* {
    margin: 0;
}
/*header*/
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(35, 161, 35);
    padding: 20px;
}
header p{
    color: white;
    font-size:larger;
}
#inputTexto{
   height: 20px;
   border-radius: 5px;
}
/*botones de ordenamiento*/
#seccionBotones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#seccionBotones button, #botonAgregar {
    padding: 10px;
    margin: 7px;
    background-color: rgb(119, 172, 119);
    color: white;
    border: none;
}
h2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/*productos al iniciar */
#listadoProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    margin: 20px 70px;
    padding-right: 10px;
}
.card-producto {
    border: 1px solid rgb(216, 216, 216); /*check*/
    width: 200px;
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.card-producto img {
    width: 80px;
}

/*carrito*/
.bloque-item {
    display: flex;
    justify-content: space-between;
    border: 2px solid;
    padding: 20px;
    margin: 10px 300px;
    font-size: larger;
}
.boton-eliminar{
    background-color: red;
    color: white;
    border-color: white;
    padding: 5px;
}
#montoTotal{
    display: flex;
    justify-content: right;
    margin: 20px 50px;
}
#botonFinalizar {
    display: flex;
    justify-content: right;
    border: 2px solid;
}
#botonVaciar{
    margin: 20px ;
} 
