* {
    margin: 0;
    font-size:medium;
}
label {
    font-size:large;
}
button {
    border: 2px solid rgb(0, 0, 0);
}
h3 {
    display: flex;
    justify-content: center;
    background-color: rgb(207, 152, 207);
    display: inline-flex;
    padding: 5px;
}
section {
    padding: 5px;
}