<header>
        <nav>
            <ul>
                <li><a href="index.html">Ver</a></li>
                <li><a href="consultar.html">Consultar</a></li>
                <li><a href="crear.html">Crear</a></li>
                <li><a href="modificar.html">Modificar</a></li>
                <li><a href="eliminar.html">Eliminar</a></li>
            </ul>
        </nav>
    </header>
<h1><%= about %></h1>
<hr>